<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="shortcut icon"
      href="/images/favicon.png"
      type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link
      href="/stylesheets/style.css"
      rel="stylesheet" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        overflow-x: hidden;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div
        class="w-full relative h-screen"
        id="page1">
        <div
          id="logo"
          class="w-full flex items-start p-4 h-20 absolute top-0">
          <img
            src="/images/logo.png"
            alt="Logo" />
        </div>
        <div
          class="w-full flex flex-col items-center justify-center h-full bg-[#fddede]"
          id="page1-container1">
          <h1 class="text-center text-3xl font-semibold mb-5">
            Register as a User
          </h1>
          <form
            action="/reg"
            method="post"
            class="bg-yellow-50 flex items-start p-4 justify-center flex-col sm:w-[30%] w-[90%] min-h-[50%]"
            id="login-box">
            <h3 class="text-lg my-2 font-semibold">Username</h3>
            <input
              class="w-[90%] bg-orange-100 rounded-md p-2 h-8 border-gray-300"
              type="text"
              name="username"
              placeholder="Username" />
            <h3 class="text-lg my-2 font-semibold">Email</h3>
            <input
              class="w-[90%] bg-orange-100 rounded-md p-2 h-8 border-gray-300"
              type="email"
              name="email"
              placeholder="Email" />
            <h3 class="text-lg my-2 font-semibold">Password</h3>
            <input
              class="w-[90%] bg-orange-100 rounded-md p-2 h-8 border-gray-300"
              type="password"
              name="password"
              placeholder="Password" />
            <div
              class="flex flex-col items-center p-2 gap-2 justify-between w-[100%] h-fit">
              <button
                type="submit"
                class="w-[60%] sm:px-2 px-5 h-10 mt-4 bg-blue-400 text-white font-semibold text-center rounded-full">
                Register
              </button>
              <a
                class="text-center w-full font-semibold text-blue-400 line-clamp-1 mt-1"
                href="/login"
                >Already have account?</a
              >
              <a
                class="text-center w-full font-semibold text-blue-400 line-clamp-1 mt-1"
                href="/adminReg"
                >Register as a Admin</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
