<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
  </head>

  <body>
    <h1>Edit Profile</h1>
    <form
      action="/adminProf"
      method="POST"
      class="space-y-4">
      <div>
        <label class="block font-medium mb-1">Change Username:</label>
        <input
          type="text"
          name="username"
          required
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <label class="block font-medium mb-1">Change Admin ID:</label>
        <input
          type="text"
          name="ID"
          required
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <label class="block font-medium mb-1">Current Password:</label>
        <input
          type="password"
          name="currentPassword"
          required
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <label class="block font-medium mb-1">New Password:</label>
        <input
          type="password"
          name="newPassword"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <label class="block font-medium mb-1">Confirm New Password:</label>
        <input
          type="password"
          name="confirmPassword"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div class="flex justify-center items-center mt-4">
        <button
          type="submit"
          class="w-1/3 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded-md text-center">
          Update Profile
        </button>
      </div>
    </form>
  </body>
</html>
