<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link
      href="/stylesheets/style.css"
      rel="stylesheet" />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div
        id="page1"
        class="bg-[#fddede] flex items-center justify-center flex-col relative w-full h-screen">
        <h1 class="font-bold text-2xl mb-2">Updated User's Credentials</h1>
        <form
          action="/prof"
          method="POST"
          class="space-y-4 sm:w-[50%] p-10 rounded-lg bg-red-400">
          <div>
            <label class="block mb-1 text-lg font-bold">Change Username:</label>
            <input
              type="text"
              name="username"
              required
              class="w-full p-[4px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>
          <div>
            <label class="block mb-1 text-lg font-bold"
              >Current Password:</label
            >
            <input
              type="password"
              name="currentPassword"
              required
              class="w-full p-[4px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>
          <div>
            <label class="block mb-1 text-lg font-bold">New Password:</label>
            <input
              type="password"
              name="newPassword"
              class="w-full p-[4px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>
          <div>
            <label class="block mb-1 text-lg font-bold"
              >Confirm New Password:</label
            >
            <input
              type="password"
              name="confirmPassword"
              class="w-full p-[4px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>
          <div class="flex justify-center flex-col gap-2 items-center mt-4">
            <button
              type="submit"
              class="w-full p-[4px] text-black font-semibold bg-blue-500 hover:bg-blue-600 rounded-md text-center">
              Update Profile
            </button>
            <button
              onclick="location.href='/';"
              class="w-full p-[4px] text-black font-semibold bg-green-400 hover:bg-green-600 rounded-md text-center">
              Go Back to Home
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
